In [57]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.Column
import org.apache.spark.sql.functions.{concat, lit,concat_ws}

val spark = SparkSession
  .builder()
  .appName("Spark SQL basic example")
  .config("spark.some.config.option", "some-value")
  .getOrCreate()

// For implicit conversions like converting RDDs to DataFrames
import spark.implicits._

spark = org.apache.spark.sql.SparkSession@62e8034e

Spark local-1536218700155: Some(http://7ccdbe56bea6:4040)

In [82]:
def asArrayDelimited(c: Column) = concat(concat_ws("|", c))

asArrayDelimited: (c: org.apache.spark.sql.Column)org.apache.spark.sql.Column

## Convert to CSV

In [72]:
val dfCompanyNames = spark.read.json("/abr/vertices/company-names/*.txt")

dfCompanyNames
    .select("id","data.value","meta.graphs")
    .withColumn("graphs",asArrayDelimited($"graphs"))
    .write.format("csv").save("/abr/vertices.csv/company-names/")

dfCompanyNames = [data: struct<value: string>, id: string ... 1 more field]

[data: struct<value: string>, id: string ... 1 more field]

In [18]:
val dfBusinessNames = spark.read.json("/abr/vertices/business-names/*.txt")

dfBusinessNames
    .select("id","data.value","meta.graphs")
    .withColumn("graphs",asArrayDelimited($"graphs"))
    .write.format("csv").save("/abr/vertices.csv/business-names/")

df = [data: struct<value: string>, id: string ... 1 more field]

[data: struct<value: string>, id: string ... 1 more field]

In [23]:
val dfABN = spark.read.json("/abr/vertices/{abn-abr,asic-abn-without-an-abr}/*.txt")

dfABN
    .select("id",
             "data.abn",
             "data.abnStatus",
             "data.entityType",
             "data.entityTypeDescription",
             "data.gstStatus",
             "data.gstStatusFrom",
             "data.value",
             "meta.graphs")
    .withColumn("graphs",asArrayDelimited($"graphs"))
    .write.format("csv").save("/abr/vertices.csv/abn/")

dfABN = [data: struct<abn: string, abnStatus: string ... 6 more fields>, id: string ... 1 more field]

lastException: Throwable = null

[data: struct<abn: string, abnStatus: string ... 6 more fields>, id: string ... 1 more field]

In [75]:
val dfACN = spark.read.json("/abr/vertices/acn-abr-and-company-names/*.txt")

dfACN
    .select("id","data.value","meta.graphs")
    .withColumn("graphs",asArrayDelimited($"graphs"))
    .write.format("csv").save("/abr/vertices.csv/acn/")

dfACN: Unit = ()

In [78]:
val dfLegalEntity = spark.read.json("/abr/vertices/legal-entity/*.txt")

dfLegalEntity
    .select("id",
            "data.address.postCode",
            "data.address.state",
            "data.familyName",
            "data.givenNames",
            "data.title",
            "data.type",
            "meta.graphs"
           )
    .withColumn("graphs",asArrayDelimited($"graphs"))
    .withColumn("givenNames",asArrayDelimited($"givenNames"))
    .write.format("csv").save("/abr/vertices.csv/legal-entity/")

dfLegalEntity = [data: struct<address: struct<postCode: string, state: string>, familyName: string ... 3 more fields>, id: string ... 1 more field]

[data: struct<address: struct<postCode: string, state: string>, familyName: string ... 3 more fields>, id: string ... 1 more field]

In [83]:
val dfMainEntity = spark.read.json("/abr/vertices/main-entity/*.txt")

dfMainEntity
    .select("id",
            "data.address.postCode",
            "data.address.state",
            "data.nonIndividualName",
            "data.type",
            "meta.graphs"
           )
    .withColumn("graphs",asArrayDelimited($"graphs"))
    .write.format("csv").save("/abr/vertices.csv/main-entity/")

dfMainEntity = [data: struct<address: struct<postCode: string, state: string>, nonIndividualName: string ... 1 more field>, id: string ... 1 more field]

[data: struct<address: struct<postCode: string, state: string>, nonIndividualName: string ... 1 more field>, id: string ... 1 more field]

In [84]:
val dfOtherEntity = spark.read.json("/abr/vertices/other-entity/*.txt")

dfOtherEntity
    .select("id",
            "data.nonIndividualName",
            "data.type",
            "meta.graphs"
           )
    .withColumn("graphs",asArrayDelimited($"graphs"))
    .write.format("csv").save("/abr/vertices.csv/main-entity/")

dfOtherEntity = [data: struct<nonIndividualName: string, type: string>, id: string ... 1 more field]

[data: struct<nonIndividualName: string, type: string>, id: string ... 1 more field]

In [85]:
dfOtherEntity.printSchema()

root
 |-- data: struct (nullable = true)
 |    |-- nonIndividualName: string (nullable = true)
 |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- graphs: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- label: string (nullable = true)