In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder\
                    .appName("Analyzing London crime data")\
                    .getOrCreate()

In [9]:
data = spark.read\
            .format("csv")\
            .option("header","true")\
            .load("./../../data/london_crime_by_lsoa.csv")

In [10]:
data.printSchema()

root
 |-- lsoa_code: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- major_category: string (nullable = true)
 |-- minor_category: string (nullable = true)
 |-- value: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)

In [11]:
data.count()

13490604

In [12]:
data.limit(5).show()

+---------+----------+--------------------+--------------------+-----+----+-----+
|lsoa_code|   borough|      major_category|      minor_category|value|year|month|
+---------+----------+--------------------+--------------------+-----+----+-----+
|E01001116|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
|E01001646| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|E01000677|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
|E01003774| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|E01004563|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+---------+----------+--------------------+--------------------+-----+----+-----+

In [13]:
data.dropna()

DataFrame[lsoa_code: string, borough: string, major_category: string, minor_category: string, value: string, year: string, month: string]

In [14]:
data = data.drop("lsoa_code")

In [16]:
total_boroughs = data.select('borough')\
                     .distinct()
total_boroughs.count()

33

In [17]:
hackney_data = data.filter(data['borough'] == "Hackney")

In [18]:
hackney_data.show(5)

+-------+--------------------+--------------------+-----+----+-----+
|borough|      major_category|      minor_category|value|year|month|
+-------+--------------------+--------------------+-----+----+-----+
|Hackney|     Criminal Damage|Criminal Damage T...|    0|2011|    6|
|Hackney|Violence Against ...|          Harassment|    1|2013|    2|
|Hackney|     Criminal Damage|Other Criminal Da...|    0|2011|    7|
|Hackney|Violence Against ...|        Wounding/GBH|    0|2013|   12|
|Hackney|  Theft and Handling|  Other Theft Person|    0|2016|    8|
+-------+--------------------+--------------------+-----+----+-----+
only showing top 5 rows

In [19]:
data_2015_2016 = data.filter(data['year'].isin(["2005","2016"]))

In [20]:
data_2015_2016.sample(fraction=0.1).show()

+--------------------+--------------------+--------------------+-----+----+-----+
|             borough|      major_category|      minor_category|value|year|month|
+--------------------+--------------------+--------------------+-----+----+-----+
|          Hillingdon|  Theft and Handling|Theft/Taking Of M...|    0|2016|    2|
|      Waltham Forest|  Theft and Handling|Motor Vehicle Int...|    0|2016|    3|
|       Tower Hamlets|             Robbery|   Personal Property|    0|2016|   10|
|      Waltham Forest|Violence Against ...|      Common Assault|    0|2016|    6|
|       Tower Hamlets|Violence Against ...|          Harassment|    1|2016|   10|
|           Southwark|Violence Against ...|    Offensive Weapon|    0|2016|    8|
|       Tower Hamlets|  Theft and Handling|         Other Theft|    2|2016|    1|
|            Lewisham|Violence Against ...|    Offensive Weapon|    0|2016|    2|
|              Newham|  Theft and Handling|Handling Stolen G...|    0|2016|    5|
|              Camden|  Theft and Handling|         Other Theft|    1|2016|    5|
|Kensington and Ch...|Violence Against ...|      Other violence|    0|2016|    1|
|              Newham|     Criminal Damage|Criminal Damage T...|    0|2016|    3|
|            Haringey|             Robbery|   Personal Property|    0|2016|    3|
|             Hackney|     Criminal Damage|Criminal Damage T...|    0|2016|    6|
|             Bromley|  Theft and Handling|Theft/Taking of P...|    0|2016|   10|
|Hammersmith and F...|  Theft and Handling|  Other Theft Person|    0|2016|    5|
|         Westminster|            Burglary|Burglary in a Dwe...|    0|2016|    4|
|             Lambeth|            Burglary|Burglary in a Dwe...|    2|2016|    8|
|            Lewisham|  Theft and Handling|  Other Theft Person|    0|2016|   11|
|       Tower Hamlets|     Criminal Damage|Criminal Damage T...|    1|2016|    8|
+--------------------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows

In [21]:
borough_crime_count = data.groupBy('borough')\
                            .count()

In [22]:
borough_crime_count.show(5)

+--------------------+------+
|             borough| count|
+--------------------+------+
|             Croydon|602100|
|          Wandsworth|498636|
|              Bexley|385668|
|             Lambeth|519048|
|Barking and Dagenham|311040|
+--------------------+------+
only showing top 5 rows