In [4]:
import pyspark
sc = pyspark.SparkContext('local[*]')
spark = SparkSession(sc)

In [34]:
sc

In [6]:
from pyspark.sql.types import Row
from datetime import datetime
from pyspark.sql import SQLContext

In [30]:
records = sc.parallelize([[1,'alice',50],[2,'bob',40]])

In [33]:
df = records.toDF()

In [35]:
df

DataFrame[_1: bigint, _2: string, _3: bigint]

In [37]:
df.show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|alice| 50|
|  2|  bob| 40|
+---+-----+---+

In [41]:
data = sc.parallelize([Row(id=1,name='alice',age=50),Row(id=2,name='bob',age=40)]).toDF()

In [42]:
data.show()

+---+---+-----+
|age| id| name|
+---+---+-----+
| 50|  1|alice|
| 40|  2|  bob|
+---+---+-----+

In [43]:
sqlContext = SQLContext(sc)

NameError: name 'SQLContext' is not defined

In [65]:
sqlContext = SQLContext(sc)

In [48]:
sqlContext

In [49]:
df = sqlContext.range(5)

In [50]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [51]:
data = sc.parallelize([[1,'alice',50],[2,'bob',40]])

In [53]:
column_names = Row('id','name','age')

In [54]:
data

ParallelCollectionRDD[46] at parallelize at PythonRDD.scala:184

In [55]:
data.show()

AttributeError: 'RDD' object has no attribute 'show'

In [56]:
data

ParallelCollectionRDD[46] at parallelize at PythonRDD.scala:184

In [57]:
data.collect()

[[1, 'alice', 50], [2, 'bob', 40]]

In [58]:
students = data.map(lambda r: column_names(*r))

In [59]:
students

PythonRDD[47] at RDD at PythonRDD.scala:49

In [60]:
students.show()

AttributeError: 'PipelinedRDD' object has no attribute 'show'

In [61]:
students.collect()

[Row(id=1, name='alice', age=50), Row(id=2, name='bob', age=40)]

In [67]:
students_df = sqlContext.createDataFrame(students)

In [69]:
students_df.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|alice| 50|
|  2|  bob| 40|
+---+-----+---+

In [72]:
students_df.rdd\
            .map(lambda x: (x.name + " boo"))\
            .collect()

['alice boo', 'bob boo']

In [84]:
students_df.select('name','age').withColumn("age next year", students_df.age + 1).show()

+-----+---+-------------+
| name|age|age next year|
+-----+---+-------------+
|alice| 50|           51|
|  bob| 40|           41|
+-----+---+-------------+

In [85]:
import pandas

In [86]:
students_df_pandas = students_df.toPandas()

In [87]:
students_df_pandas

   id   name  age
0   1  alice   50
1   2    bob   40